.progress-bar {
  background-color: #f1f1f1;
  height: 20px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar__fill {
  height: 100%;
  background: linear-gradient(
    to right,
    #c2185b,
    #1565c0
  ); /* add gradient colors */
  transition: width 0.3s ease-in-out;
}
